# Laravel
/laravel/.env
/laravel/.env.backup
/laravel/.env.production
/laravel/vendor/
/laravel/node_modules/
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/storage/pail
/laravel/.phpunit.result.cache
/laravel/.phpunit.cache
/laravel/auth.json

# IDE
.idea/
.vscode/
.fleet/
.nova/
.zed/
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/laravel/storage/logs/*.log

# Temporary files
temp_log.txt
taskcontroller

# Keycloak data
/keycloak/import/*
!/keycloak/import/.gitkeep

